<header class="site-header">

    <div class="header-inner">

        <a class="brand" href="#" data-link="home" aria-label="GRITS - Página inicial">
            <img src="#" data-asset="logo" alt="GRITS">
        </a>


        <nav class="main-nav" aria-label="Navegação principal">

            <a href="#" data-link="home" data-page="index">
                Home
            </a>

            <a href="#" data-link="publicacoes" data-page="publicacoes">
                Publicações
            </a>

            <a href="#" data-link="equipe" data-page="equipe">
                Equipe
            </a>

        </nav>

    </div>

</header>